<!DOCTYPE html>
<html
		lang="en"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<h1>List</h1>
	<a href="posts/new">NEW</a>
	<a href="posts/dummy">DUMMY</a>

	<form action="/posts/search">
		<input type="text" name="keyword">
		<input type="submit">
	</form>

	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="post : ${posts.getContent()}">
				<td th:text="${post.id}"></td>
				<td>
					<a
							th:text="${post.title}"
							th:href="@{/posts/{id}(id=${post.id})}"></a>
				</td>
				<td th:text="${post.content}"></td>
			</tr>
		</tbody>
	</table>

	<div>
		<span th:text="${posts.totalElements}">100</span>
		<span th:text="${posts.number + 1}">3</span> / <span th:text="${posts.totalPages}">10</span>
	</div>

	<div>
		<a th:href="@{/posts/search(page=0), keyword=${keyword}}">first</a>
		<a th:if="${posts.hasPrevious()}"
		   th:href="@{/posts/search(page=${posts.number-1}, keyword=${keyword})}">pre</a>
		<span th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${i != posts.number}"
               th:href="@{/posts/search(page=${i}), keyword=${keyword}}" th:text="${i+1}"></a>
            <strong th:if="${i == posts.number}" th:text="${i+1}"></strong>
		</span>
		<a th:if="${posts.hasNext()}"
		   th:href="@{/posts/search(page=${posts.number+1}, keyword=${keyword})}">next</a>
		<a th:href="@{/posts/search(page=${posts.totalPages-1}, keyword=${keyword})}">last</a>
	</div>
</body>
</html>